@media only screen and(min-width: 415px) {


  .timeline-container-scroll {
    margin: 60px 0;
  }

  .profile-timeline {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    border-radius: 11px;
  }

  .profile-timeline-col-left {
    float: left;
    padding-left: 33px;
    margin-left: -1em;
    width: 40%;
    background-color: #343030;
    border-radius: 9px;
  }

  .profile-timeline-col-right {
    padding-left: 2px;
    float: right;
    width: 60%;
  }

  .box-avatar {
    padding: 9px 1px 1px 2px;
  }

  .new-post {
    position: relative;
  }

  textarea {
    border: 0;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 10px;
    width: calc(100% - 20px) !important;
  }

  .profile-timeline-col-right>h2 {
    color: #9298A4;
    font-weight: 400;
    letter-spacing: -1px;
    margin: 140px auto 80px;
    padding: 0;
    text-align: center;
  }

  .profile-timeline-col-right>h2:first-child {
    margin: 40px auto 80px;
  }

  .profile-timeline-col-right>.box {
    background: #333333;
    border-radius: 11px;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, .25);
    height: auto;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 18px;

  }

  .profile-timeline-col-right>.box>[class*="box-"] {
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
  }

  .profile-timeline-col-right>.box>[class*="box-"] img {
    display: block;
    width: 100%;
  }

  .profile-timeline-col-left>.box>.box-header,
  .profile-timeline-col-right>.box>.box-header {
    margin: 0 auto;
    padding: 4px 9px 0px;
    width: initial;
  }

  .profile-timeline-col-left>.box>.box-header>h3,
  .profile-timeline-col-right>.box>.box-header>h3 {
    font-size: 15px;
    font-weight: 700;
    height: 60px;
    margin: 5px auto;
    overflow: hidden;
    padding: 5px 0 0;
    position: relative;
  }

  .profile-timeline-col-left>.box>.box-header>h3>a,
  .profile-timeline-col-right>.box>.box-header>h3>a {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
  }

  .profile-timeline-col-left>.box>.box-header>h3>span,
  .profile-timeline-col-right>.box>.box-header>h3>span {
    color: #9197A3;
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin-top: -8px;
  }

  .profile-timeline-col-right>.box>.box-header>h3>span .fa {
    font-size: 15px;
    margin-left: 5px;
    display: inline-block;
  }

  .profile-timeline-col-right>.box>.box-header>span {
    border-radius: 3px;
    color: #BCBFC6;
    cursor: pointer;
    font-size: 24px;
    height: 18px;
    line-height: 18px;
    margin: 5px auto 0;
    padding: 3px 4px;
    position: absolute;
    right: 40px;
    top: 0;
  }

  .profile-timeline-col-right>.box>.box-header>span:hover {
    color: #888;
  }

  .profile-timeline-col-right>.box>.box-header>span>i {
    height: 18px;
    line-height: 18px;
  }

  .profile-timeline-col-left>.box>.box-header img,
  .profile-timeline-col-right>.box>.box-header img {
    border-radius: 100px;
    float: left;
    height: 60px;
    margin: -5px 8px 0 0;
    object-fit: cover;
    width: 60px;
  }

  .profile-timeline-col-right>.box>.box-content {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: initial;
  }

  .profile-timeline-col-right>.box>.box-content>.content {
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: initial;
  }

  .profile-timeline-col-right>.box>.box-content>.bottom {
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    width: initial;
  }

  .profile-timeline-col-right>.box>.box-content>.bottom>p {
    color: whitesmoke;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 3px 0;
  }

  .profile-timeline-col-right>.box>.box-comments>.comment>.content>.bottom>p {
    color: whitesmoke;
    /* font-size: 15px; */
    /* line-height: 20px; */
    /* top: 16px; */
    /* padding: 8px 0px; */
    /* margin-left: -15px; */
    position: relative;
    /* margin-left: 0px; */
    /* z-index: 0; */
    float: left;
  }

  .profile-timeline-col-right>.box>.box-content>.bottom>span {
    background: linear-gradient(to top, rgba(0, 0, 0, .45), rgba(0, 0, 0, 0));
    height: 160px;
    left: 0;
    line-height: 160px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: right;
    top: -160px;
    vertical-align: bottom;
    width: 100%;
  }

  .profile-timeline-col-right>.box>.box-content>.bottom>span>span {
    background: rgba(0, 0, 0, .35);
    border-radius: 4px;
    bottom: 0;
    color: #FFF;
    cursor: pointer;
    font-size: 20px;
    margin: 0 30px 25px auto;
    opacity: .75;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: 0;
    top: auto;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }

  .profile-timeline-col-right>.box>.box-content>.bottom>span>span:hover {
    opacity: 1;
  }

  .profile-timeline-col-right>.box>.box-likes {
    margin: 0 auto;
    overflow: hidden;
    padding: 0 30px;
    position: relative;
  }

  .profile-timeline-col-right>.box>.box-likes>.row {
    border-top: 1px solid rgba(221, 221, 221, 0.404);
    padding: 3px 0;
  }

  .profile-timeline-col-right>.box>.box-likes>.row>span {
    display: inline-block;
    font-size: 13px;
    margin: 0 2px 0 0;
    position: relative;
    vertical-align: middle;
  }

  .profile-timeline-col-right>.box>.box-likes>.row:first-child {
    float: left;
    width: 60%;
  }

  .profile-timeline-col-right>.box>.box-likes>.row:last-child {
    float: right;
    text-align: end;
    width: 43%;
    margin-right: 2px;
    padding-left: 80px;
  }

  .profile-timeline-col-right>.box>.box-likes>.row:first-child>span:nth-child(4) {
    background: #4D679F;
    border-radius: 50px;
    font-weight: bold;
    padding: 0 8px 0 6px;
  }

  .profile-timeline-col-right>.box>.box-likes>.row:first-child>span:nth-child(4)>a {
    color: #FFF;
  }

  .profile-timeline-col-right>.box>.box-likes>.row:first-child>span,
  .profile-timeline-col-right>.box>.box-likes>.row:last-child>span {
    color: #9197A3;
  }

  .profile-timeline-col-right>.box>.box-likes>.row:last-child>span {
    display: inline-block;
    vertical-align: middle;
  }

  .profile-timeline-col-right>.box>.box-likes>.row img {
    border-radius: 100px;
    height: 28px;
    object-fit: cover;
    width: 28px;
  }

  .profile-timeline-col-right>.box>.box-buttons {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
  }

  .profile-timeline-col-right>.box>.box-buttons *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .profile-timeline-col-right>.box>.box-buttons>.row {

    overflow: hidden;
    padding: 0;
    position: relative;
  }

  .profile-timeline-col-right>.box>.box-buttons>.row>button:last-child {
    border: 0;
  }

  .profile-timeline-col-right>.box>.box-buttons>.row>button {
    border: 0;
    color: #9197A3;
    font-size: 20px;
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0;
    *outline: 1px #08F;
    padding: 0;
    width: 33.33333333333%;
    background-color: transparent;
  }

  .profile-timeline-col-right>.box>.box-buttons>.row>button:hover {
    color: #7D8696;
  }

  .profile-timeline-col-right>.box>.box-buttons>.row>button:focus {
    color: #6C7588;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .2);
    outline-color: #08F;
  }

  .profile-timeline-col-right>.box>.box-click {
    color: #4D679F;
    font-size: 13px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 30px;
    position: relative;
  }

  .profile-timeline-col-right>.box>.box-click>span {
    cursor: pointer;
  }

  .profile-timeline-col-right>.box>.box-click>span i {
    font-size: 18px;
    margin-right: 5px;
  }

  .profile-timeline-col-right>.box>.box-comments {
    margin: 0;
    overflow: hidden;
    position: relative;
  }

  .profile-timeline-col-right>.box>.box-comments>.comment {
    border-top: 1px solid rgba(163, 162, 162, 0.575);
    /* margin: 0; */
    overflow: hidden;
    /* padding: 0px 0px 0px 0px; */
    position: relative;
    float: left;
    margin-left: -13px;
  }

  .profile-timeline-col-right>.box>.box-comments>.comment>img {
    border-radius: 100px;
    float: left;
    height: 35px;
    margin: 7px 8px 0px 0px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 36px;
  }

  .profile-timeline-col-right>.box>.box-comments>.comment>.content {
    height: auto;
    line-height: 20px;
    margin: 0 0 0 7px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: initial;
    display: block;
    background-color: rgba(103, 102, 102, 0.48);
    border-radius: 12px;
    padding: 0px 9px;
    margin: 3px 0px 3px 0px;
  }

  .profile-timeline-col-right>.box>.box-comments>.comment>.content>h3 {
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 4px auto 0;
    text-transform: capitalize;
    width: 150px;
  }

  .profile-timeline-col-right>.box>.box-comments>.comment>.content>span {
    color: #9197A3;
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
  }

  .profile-timeline-col-right>.box>.box-comments>.comment>.content>p {
    color: #4B4D53;
    font-size: 13px;
    margin: 0;
    padding: 0;
  }

  .profile-timeline-col-right>.box>.box-comments>.comment>.content>.bottom>p {
    color: whitesmoke;
    position: relative;
    float: left;
    margin-bottom: 0px;
  }


  .profile-timeline-col-right>.box>.box-new-post {
    overflow: hidden;
    padding: 1px 0px;
    position: relative;
    border-radius: 4px;
  }

  .profile-timeline-col-right>.box>.box-new-post>img {
    border-radius: 100px;
    float: left;
    height: 36px;
    margin: 0;
    object-fit: cover;
    width: 36px;
    margin: 7px 8px 0px 0px;
  }

  .profile-timeline-col-right>.box>.box-new-post>.content {
    border-radius: 7px;
    margin: 9px 12px 4px 0px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: initial;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }

  .profile-timeline-col-right>.box>.box-new-post>.content>.content-row {
    background: transparent;
    display: inline-block;
    height: 32px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    width: 100%;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }

  .profile-timeline-col-right>.box>.box-new-post>.content>.content-row:last-child {
    color: #C6C9D0;
    font-size: 22px;
    height: 100%;
    line-height: 27px;
    position: relative;
    width: 110%;
  }

  .profile-timeline-col-right>.box>.box-new-comment {
    overflow: hidden;
    padding: 6px 17px;
    position: relative;
    border-radius: 4px;
  }

  .profile-timeline-col-right>.box>.box-new-comment>img {
    border-radius: 100px;
    float: left;
    height: 36px;
    margin: 0;
    object-fit: cover;
    width: 36px;
    margin: 7px 8px 0px 0px;
  }

  .profile-timeline-col-right>.box>.box-new-comment>.content {
    border-radius: 7px;
    margin: 9px 12px 4px 0px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: initial;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }

  .profile-timeline-col-right>.box>.box-new-comment>.content>.row {
    background: transparent;
    display: inline-block;
    height: 32px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    width: 100%;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }

  .profile-timeline-col-right>.box>.box-new-comment>.content>.row:last-child {
    color: #C6C9D0;
    font-size: 22px;
    height: 28px;
    line-height: 27px;
    margin: 2px 0;
    position: absolute;
    text-align: center;
    top: 0;
    right: 10px;
    width: 40px;
  }

  .box-buttons-font {
    font-family: inherit;
    font-size: 18px;
  }

  .profile-timeline-col-right>.box>.box-new-post>.content>.row:last-child>span {
    cursor: pointer;
  }

  .profile-timeline-col-right>.box>.box-new-post>.content>.row>textarea {
    /* border: 1px solid transparent; */
    border-radius: 4px;
    color: #555;
    outline: 0;
    padding: 0px 0px 1px 24px;
    resize: auto;
    width: calc(100% - 52px) !important;

    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }

  .profile-timeline-col-right>.box>.box-new-comment>.content>.row:last-child>span {
    cursor: pointer;
  }

  .profile-timeline-col-right>.box>.box-new-comment>.content>.row>textarea {
    /* border: 1px solid transparent; */
    border-radius: 4px;
    color: #555;
    outline: 0;
    padding: 0px 0px 1px 24px;
    resize: auto;
    width: calc(100% - 52px) !important;

    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }

  .profile-timeline-col-right>.box.update,
  .profile-timeline-col-right>.box.text {
    border: 1px solid #E0E1E4;
    box-shadow: none;
    padding: 20px 0 0;
  }

  .profile-timeline-col-right>.box.update>.box-header,
  .profile-timeline-col-right>.box.text>.box-header {
    padding: 0 30px;
  }

  .profile-timeline-col-right>.box.update>.box-header>span,
  .profile-timeline-col-right>.box.text>.box-header>span {
    background: transparent;
    color: #9298A4;
    font-size: 32px;
    margin: -10px auto 0;
  }

  .profile-timeline-col-right>.box.update>.box-content>.content>p,
  .profile-timeline-col-right>.box.text>.box-content>.content>p {
    border-top: 1px solid #F4F4F4;
    color: #4D5057;
    font-size: 14px;
    line-height: 22px;
    padding: 26px 30px;
  }

  .profile-timeline-col-right>.box.update>.box-content>.content>.img {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: initial;
  }

  .profile-timeline-col-right>.box.update>.box-content>.content>.img:before {
    border: 1px solid rgba(0, 0, 0, .25);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .profile-timeline-col-right>.box.text>.box-buttons>.row>button {
    font-size: 13px;
  }

  .profile-timeline-col-right>.box.text>.box-buttons>.row>button>span {
    font-size: 20px;
  }

  .profile-timeline-col-right>.box.image>.box-new-comment>.content,
  .profile-timeline-col-right>.box.image>.box-new-comment>.content>.row>textarea,
  .profile-timeline-col-right>.box.video>.box-new-comment>.content,
  .profile-timeline-col-right>.box.video>.box-new-comment>.content>.row>textarea {
    background: #9298A4;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }


  .profile-timeline-col-right>.box.image>.box-new-post>.content,
  .profile-timeline-col-right>.box.image>.box-new-post>.content>.row>textarea,
  .profile-timeline-col-right>.box.video>.box-new-post>.content,
  .profile-timeline-col-right>.box.video>.box-new-post>.content>.row>textarea {
    background: #9298A4;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    height: 30px;

  }

  .profile-timeline-col-right>.box>.box-new-comment>.content>.row>textarea:focus,
  .profile-timeline-col-right>.box.image>.box-new-comment>.content:active>.row {
    background: #FFF;
  }

  .profile-timeline-col-right>.box>.box-new-comment>.content>.row>textarea:focus,
  .profile-timeline-col-right>.box.video .box-new-comment>.content:active>.row {
    background: #FFF;
  }


  .profile-timeline-col-right>.box>.box-new-post>.content>.row>textarea:focus,
  .profile-timeline-col-right>.box.image>.box-new-post>.content:active>.row {
    background: #FFF;
  }

  .profile-timeline-col-right>.box>.box-new-post>.content>.row>textarea:focus,
  .profile-timeline-col-right>.box.video .box-new-post>.content:active>.row {
    background: #FFF;
  }

  .profile-intro-fontawsome {
    font-size: 24px;
    margin: 4px 9px 5px 4px;
    color: #707070;
    width: 25px;
    text-align: center;
    float: left;
  }

  .profile-intro-simple-line-row {
    display: inline-block;
    height: 33px;
    width: 100%;
  }

  .profile-intro-multiple-line-row {
    overflow: hidden;
    /* width: 100%; */
    /* padding-top: 0;*/

  }

  .profile-intro-multiple-row-span {
    padding-left: 0;
    margin-left: -13px;
    padding-bottom: -48px;
    /* bottom: 0; */
    padding-top: 1px;
    /* top: 0; */
    /* margin-bottom: 0; */
    text-align: left;
    /* float: left;*/
  }

  .profile-intro-a {
    font-size: 9px;
    font-weight: bold;
    display: block;
    margin-left: 92px;
    width: 194px;

  }

  .profile-intro-single-row-span {
    display: block;
    margin-top: -14px;
    margin-left: -11px;
  }

  .profile-intro-multiple-row-span {
    display: block;
    margin-top: -15px;
    margin-left: -21px;
  }

  .profile-intro-span {
    font-size: 9px;
    color: #8d8d8de1;
  }

}

//For Iphone X and small devices
@media only screen and (max-width:414px) {
  .table {
    display: table;
    /* Allow the centering to work */
    margin: 0 auto;
    background-color: transparent;
  }


  .profile-timeline {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    border-radius: 11px;
  }

  .profile-timeline-col-left {
    /* float: left; */
    /* padding: 33px; */
    margin: 16px 23px 16px 23px;
    /* margin-left: -1em; */
    width: 100%;
    background-color: #343030;
    border-radius: 9px;
  }

  .profile-timeline-col-right {
    margin: 0px 23px;
    padding-right: 0px;
    position: relative;
    width: 100%;

  }



  textarea {
    border: 0;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 10px;
    width: calc(100% - 20px) !important;
  }

  .timeline-container-scroll {
    margin: 60px 0;
  }

  .table {
    display: table;
    margin: 0 0px 4px 0;
  }

  .fa-center {
    /* top: 0px; */
    position: absolute;
    padding-left: 5px;
    padding-top: 2px;
  }

  .fa-center {
    /* top: 0px; */
    position: absolute;
    padding-left: 0;
    padding-top: 0;
  }
}
