<div class="wrapper {{theme}}">
  <div class="friends-box" *ngIf="visible" [@fadeInOut]="visible">
    <div class="friends-box-header" (click)="toggleFriends()">
      <div class="">
        <div class="operator-status">
          {{operator.status}}
          <span class="operator-status-online">●</span>
          <span class="friends-button-header" *ngIf="visible" (click)="toggleFriends()">✕</span>
        </div>
        <h3 class="operator-name">
          {{operator.name}}
        </h3>
      </div>
    </div>
    <div class="friends-box-main">
      <div class="friends-message-bottom" #bottom></div>
      <ng-container *ngFor='let user of users; let i = index' [attr.data-index]="i">
        <div class="friends-message" >
          <div>
            <div class=" mr-3 float-left" style="display: inline-block;">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </div>
          </div>
          <div class="text-truncate font-weight-bold" (click)='openNewChat(i)'>{{user.firstname}} {{user.lastname}}</div>

          <div class="friends-message-date">
            <!-- {{message.date | date: 'short'}} -->
          </div>
        </div>
      </ng-container>
    </div>
    <div class="friends-box-footer">
      <friends-input (dismiss)="toggleFriends()" [focus]="focus"></friends-input>
    </div>
  </div>
  <button class="friends-button" *ngIf="!visible" (click)="toggleFriends()">

    <span [@fadeIn]> {{operator.name}}</span>
  </button>
</div>
<aside   class="ml4 chat-widget-ul " id="listOfChatWidgets" >
  <ng-template #chatFirstWidget></ng-template>

</aside>