//Larger 
@media only screen and (min-width: 415px) {
  .avatar {
    height: 100%;
    width: 100%;
  }

  .search-box-avatar {

    background: border-box;
    padding: -1px;
    border: 4px solid #2a2a2a;
    /* margin-left: -4px; */
    margin-top: 74px;
    align-content: center;
    transform: scaleX(2) scaleY(2);
    z-index: 6;
    padding: -105px -105px;
  }

  .profile-box-avatar {
    position: relative;
    background: border-box;
    padding: -1px;
    border: 4px solid #2a2a2a;
    margin-left: 53px;
    margin-top: -48px;
    -webkit-transform: scaleX(2) scaleY(1.5);
    transform: scaleX(2) scaleY(4);
    /* padding-top: 37px; */
    z-index: 6;
    padding: -105px -105px;

  }
}

//Devices 
@media only screen and (max-width: 414px) {
  .avatar {
    height: 100%;
    width: 100%;
  }

  .profile-box-avatar {
    /*border-radius: 12px; */
    position: relative;
    /* margin-bottom: 5223px; */
    left: 0;
    top: 0;
    /* background: border-box; */
    padding: -1px;
    border: 0x solid #fff;
    height: 145px;
    width: 145px;
    border: white;
    -webkit-transform: scaleX(2) scaleY(1.5);
    transform: scaleX(2) scaleY(4);
    /* padding-top: 37px; */
    z-index: 6;
    padding: -105px -105px;
    /* padding-left: 41px;*/
  }
}
