//Laptops screen size 15" and 13"
@media only screen and (min-width : 415px) {

  .save-profile-cover-div-inlined {
    z-index: 1;
    position: absolute;
    right: 0px;
    width: 100%;
    display: inline-block;
    height: 12%;
    background-color: rgba(5, 5, 5, 0.534);
    padding: 3px 3px;
  }

  .save-profile-cover-paragraph {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    color: white;

  }



  .save-profile-cover-paragraph-i {
    padding-top: 6px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 27px;
    font-weight: bold;
    display: inline-block;
    color: white;
    top: 17%;
    position: relative;
  }

  .save-profile-cover-paragraph>span {

    /* bottom: 17px; */
    top: 11px;
    /* padding: 0 0; */
    /* margin: 0; */
    position: absolute;
  }

  .save-profile-cover-btn-success {
    float: right;
    /* right: 14px; */
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    align-items: center;
    align-content: center;
    top: 3%;
    position: relative;
  }

  .save-profile-cover-btn-cancel {
    float: right;
    /* right: 14px; */
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    align-items: center;
    align-content: center;
    top: 3%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.219);
    border: 0;
    color: white;
  }

  .card {
    background-color: transparent;
    border: 0;
    border: radius 0;
  }

  .profile-header {
    margin: 0 21%;
    padding: 0;
    width: 70%;
    box-sizing: border-box;
    border-radius: 11px;
  }

  .profile-background-container {
    overflow: hidden;
    background-color: transparent;
    z-index: -1;
    position: absolute;
    height: 158%;
    width: 100%;

  }

  picture {
    background-color: transparent; //Forcing transparency throuw browsers
    border: 0;
    margin: 0 0 0 0;
    padding: 0 0;
    border-radius: 0;


  }

  .search-box-container {
    /* background-color: transparent; */
    border: 3px solid rgba(49, 49, 49, 0.507);
    margin: 0 0 0 0;
    padding: 0px 14px;
    border-radius: 0;
    overflow: hidden;
    z-index: 1;
    width: 168px;
    height: 168px;
    left: 45%;
    top: 61%;
    position: absolute;
    border-radius: 100%;
    /* border: 48px;*/
  }

  .mat-card-image-container {
    float: left;
    box-sizing: border-box;
    border-radius: 0 0 11px 11px;
    background-color: transparent;
    width: 1020px;
    height: 360px;
    margin: 0 17%;
    overflow: hidden;

    z-index: 1;

  }

  //Zoom effect is included
  .mat-card-image {
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 0 0 11px 11px;
    background-color: transparent;
    z-index: -1;
    height: 100%;
    width: 100%;
    -webkit-transform: scaleX(2) scaleY(1.5);
    transform: scaleX(1) scaleY(2);
    padding-top: 37px;

  }

  .mat-card-background-image-blurred {
    float: left;
    background-size: cover;
    left: -0;
    top: -15px;
    bottom: -15px;
    position: absolute;
    border-radius: 0em;
    width: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(8px) saturate(0.8) contrast(1.2);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0;
    height: 464px;
    z-index: -1;
    overflow: hidden;
    transform: scale(1.7);

  }

  .fa-center {
    /* top: 0px; */
    position: absolute;
    padding-left: 0;
    padding-top: 0;
  }

  .profile-background-container-fixed {
    overflow: hidden;
    background-color: #05050594;
    z-index: 0;
    position: fixed;
    height: 608px;
    width: 100%;
    top: -510px;

  }

  .profile-horizontal-list-start-fixed {
    position: fixed;
    top: 11%;
    z-index: 2;
    list-style-type: none;
    margin: 7px 0px 0px 0px;
    padding: 0;
    background-color: #000000;
    border-radius: 0px;
    height: 45px;
    width: 60%;
  }

  .profile-horizontal-list-start-fixed>li:first-child {
    list-style-type: none;
    /* padding: 0px 0px; */
    /* padding: 0px 0px; */
    overflow: hidden;
    border-radius: 0;
  }



  .profile-horizontal-list-start-fixed li {
    float: left;

  }

  .profile-horizontal-list-start-fixed li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 16px 0px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Arial";
  }


  /*
     * Profile horizontal menu css 
     */
  .profile-horizontal-list-start {
    list-style-type: none;
    /* margin: 7px 0px 0px 0px; */
    padding: 0;
    /* border-radius: 30px; */
    height: 45px;
  }


  .profile-horizontal-list-start>li:first-child {
    list-style-type: none;
    /* padding: 0px 0px; */
    /* padding: 0px 0px; */
    overflow: hidden;
    border-radius: 30px 0 0 0;
  }


  .profile-horizontal-list-start li {
    float: left;

  }

  .profile-horizontal-list-start li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Arial";
  }

  .profile-horizontal-list-end {
    list-style-type: none;
    padding: 0;
    right: 0px;
    overflow: hidden;
    background-color: transparent;
    border-radius: 0px 30px 0px 0px;
    float: right;
  }


  .profile-horizontal-list-end li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Arial";
  }

  .profile-horizontal-list-start-fixed li a:hover,
  .profile-horizontal-list-start li a:hover,
  .profile-horizontal-list-end li a:hover {
    background-color: #bebdbd3a;
  }


  .cover-change-label {
    position: relative;
    right: -11px;
    margin: 3px;
    font-size: 12px;
    font-weight: bold;
    display: initial;
    top: -1px;

  }

  .cover-change-label-mobile {
    display: none;
  }

  .change-cover-browser-btn {
    position: absolute;
    /* position: relative; */
    /* text-align: right; */
    -moz-opacity: 0;
    -webkit-filter: opacity(0);
    /* filter: opacity(0); */
    opacity: 0;
    /* z-index: -2; */
    margin: -2px -195px 0px -1px;
    top: 0%;
    left: 0;
    /* padding-right: 12px; */
    width: 104%;
    z-index: -1;
  }

  .profile-intro {
    margin: 0 21%;
    padding: 0;
    width: 60%;
    box-sizing: border-box;
    border-radius: 11px;
  }


  .profile-intro-container {
    list-style-type: none;

    overflow: hidden;
    // background-color: #333333;

    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Arial";
  }

  .profile-intro-container>a {

    display: block;
    color: blue($color: #000000);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: "Arial";
    margin-top: 0.5rem;
    margin-bottom: 2px;

  }

  .profile-intro-container>h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .profile-intro-container>h2>span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

  .change-cover-btn {

    position: absolute;
    right: 14%;
    border-radius: 9px;
    height: 9%;
    width: 11%;
    bottom: -7%;
    font-size: 16px;
    background-color: #d6d2d26b;
    padding: 3px;
    margin: 41px;
    z-index: 0;
    cursor: pointer;
  }


  .icon-float-left {
    position: absolute;
    left: -12px;
    margin: -21px;
    font-size: 21px;
    top: 26px;
  }



  .edit-profile-pic-container {
    position: absolute;
    align-items: center;
    border-radius: 50%;
    background-color: #d6d2d26b;
    height: 34px;
    width: 34px;
    top: 96%;
    left: 53%;
    z-index: 2;
  }

  .profile-picture-avatar-fontawsome {
    position: absolute;
    top: 87%;
    left: -11px;
    z-index: 999;
  }
}



//Maximum device width 414px such as Iphone X Screen size  
@media only screen and (max-width : 414px) {
  .profile-header-container {
    height: 34%;

  }

  .save-profile-cover-div-inlined {
    z-index: 10;
    position: absolute;
    right: 0px;
    width: 100%;
    display: inline-block;
    height: 21%;
    background-color: rgb(5 5 5);
    padding: 3px 3px;
  }


  .save-profile-cover-div-inlined>span {
    font-size: 12px;
  }

  .save-profile-cover-paragraph {
    padding-right: 12px;
    padding-left: 12px;
    font-size: small;
    font-weight: bold;
    display: inline-block;
    color: white;

  }



  .save-profile-cover-paragraph-i {
    padding-top: 6px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 27px;
    font-weight: bold;
    display: inline-block;
    color: white;
    top: 17%;
    position: relative;
  }

  .save-profile-cover-paragraph>span {

    /* bottom: 17px; */
    top: 11px;
    /* padding: 0 0; */
    /* margin: 0; */
    position: absolute;
  }

  .save-profile-cover-btn-success {
    float: right;
    font-size: 8px;
    font-weight: bold;
    margin-right: 5px;
    align-items: center;
    align-content: center;
    top: 16%;
    position: relative;
  }

  .save-profile-cover-btn-cancel {
    float: right;
    font-size: 9px;
    font-weight: bold;
    margin-right: 5px;
    align-items: center;
    align-content: center;
    top: 16%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.219);
    border: 0;
    color: white;
  }

  .card {
    background-color: transparent;
    border: 0;
    border: radius 0;
  }

  .profile-header {
    margin: 0 21%;
    padding: 0;
    width: 70%;
    box-sizing: border-box;
    border-radius: 11px;
  }

  .profile-background-container {
    overflow: hidden;
    background-color: transparent;
    z-index: -1;
    position: absolute;
    height: 204%;
    width: 100%;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.25);

  }

  picture {
    background-color: transparent; //Forcing transparency throuw browsers
    border: 0;
    margin: 0 0 0 0;
    padding: 0 0;
    border-radius: 0;


  }


  .search-box-container {
    background-color: transparent;
    border: 1px solid rgba(49, 49, 49, 0.507);
    margin: 0 0 0 0;
    padding: 0 0;
    border-radius: 0;
    overflow: hidden;
    z-index: 1;
    width: 39%;
    height: 63%;
    left: 33%;
    top: 105px;
    position: absolute;
    border-radius: 8px 8px 8px 8px;
  }

  .mat-card-image-container {
    /* float: left; */
    /* box-sizing: border-box; */
    border-radius: 30px 30px 0px 0px;
    background-color: transparent;
    /* width: 100%; */
    height: 190px;
    margin: 10px 13px 10px 13px;
    padding: 0 0px 0px 1px;
    overflow: hidden;
    z-index: 1;
  }

  //Zoom effect is included
  .mat-card-image {
    position: relative;
    /* margin: 0; */
    /* padding: 0; */
    border-radius: 0 0 11px 11px;
    background-color: transparent;
    z-index: -1;
    height: 100%;
    width: 100%;
    -webkit-transform: scaleX(2) scaleY(1.5);
    transform: scaleX(1) scaleY(2);
    padding-top: 37px;

  }

  .mat-card-background-image-blurred {
    float: left;
    background-size: cover;
    left: -0;
    top: -15px;
    bottom: -15px;
    position: absolute;
    border-radius: 0em;
    width: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(8px) saturate(0.8) contrast(1.2);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0;
    height: 464px;
    z-index: -1;
    overflow: hidden;
    transform: scale(1.7);

  }

  .profile-intro {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }



  .profile-intro-container {
    list-style-type: none;

    overflow: hidden;
    // background-color: #333333;

    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: "Arial";
  }

  .profile-intro-container>a {

    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: "Arial";
    margin-top: 0.5rem;
    margin-bottom: 2px;

  }

  .profile-intro-container>h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;

  }

  .profile-intro-container>h2>span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }


  .profile-horizontal-list-start {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    float: left;
    width: 100%;

  }

  .profile-horizontal-list-start>li {

    display: none
  }

  .profile-horizontal-list-start>ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;


  }

  .profile-horizontal-list-start li {
    padding-left: 0;
    margin-left: 0;

  }


  .profile-horizontal-list-end {
    list-style-type: none;

    overflow: hidden;
    display: flex;
    width: 100%;
    height: 50px;

  }



  .profile-horizontal-list-end>li:first-child {
    background-color: #ffffff5e;
    list-style-type: none;
    /* padding: 0px 0px; */
    /* padding: 0px 0px; */
    overflow: hidden;
    border-radius: 0 0 0 30px;
    padding-left: 0;
    margin-left: 14px;
    width: 85%;

  }

  .profile-horizontal-list-end>li:not(:first-child) {
    background-color: #ffffff5e;
    list-style-type: none;
    /* padding: 0px 0px; */
    /* padding: 0px 0px; */
    overflow: hidden;
    margin-left: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 0px;

  }


  .profile-horizontal-list-end>li:last-child {
    list-style-type: none;
    /* padding: 0px 0px; */
    /* padding: 0px 0px; */
    overflow: hidden;
    border-radius: 0px 0px 30px 0px;
    margin-right: 16px;

  }

  .profile-horizontal-list-end>li W a:not(:first-child) {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Arial";

  }



  .profile-horizontal-list-end>li>a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: "Arial";
    margin-top: 14px;

  }

  .profile-horizontal-list-end>li>a:hover {
    background-color: #bebdbd3a;
  }


  .change-cover-btn {
    position: absolute;
    right: 13px;
    border-radius: 0 0 0 9px;
    height: 30px;
    width: 74px;
    bottom: 10px;
    font-size: 16px;
    background-color: #d6d2d26b;
    padding: 0;
    z-index: 1;
    cursor: pointer;
  }

  .icon-float-left {
    position: absolute;
    left: -8%;
    font-size: 15px;
    top: 32%;
  }

  .cover-change-label {
    display: none;
  }

  .cover-change-label-mobile {
    position: relative;
    right: -11px;
    margin: 3px;
    font-size: 12px;
    font-weight: bold;
    display: initial;
  }

  .change-cover-browser-btn {
    position: absolute;
    right: 13px;
    border-radius: 9px 0px 0 0;
    height: 24px;
    width: 71px;
    bottom: 10px;
    font-size: 16px;
    padding: 0 0 0 0px;
    z-index: 1;
    cursor: pointer;
    visibility: hidden;
  }


  .edit-profile-pic-container {
    position: absolute;
    align-items: center;
    border-radius: 50%;
    background-color: #d6d2d26b;
    height: 34px;
    width: 34px;
    top: 96%;
    left: 61%;
    z-index: 2;
  }

  .profile-picture-avatar-fontawsome {
    position: absolute;
    top: 39%;
    left: -8px;
    z-index: 999;
  }

}
