input {
  visibility: hidden;
}

.search-change-active {
  display: inline-block;
  position: relative;
  height: 25px;
  width: 600px;
  box-sizing: border-box;
  padding-left: 4px;
  border: 3px solid silver;
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 20px;
    right: -5px;
    top: 14px;
    background: silver;
    border-radius: 3px;
    transform: rotate(-45deg);
    transition: all 200ms ease;
  }


  input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 15px;
    background: transparent;
    outline-width: 0px;
    margin: -12px 2px -12px 0px;

  }

  &.active,
  &:hover {
    width: 600px;
    margin-right: 0px;

    &:after {
      height: 0px;
    }
  }

}


.search-change-inactive {
  display: inline-block;
  position: relative;
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  padding-left: 4px;
  border: 3px solid silver;
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: pointer;

  input {
    visibility: none;
  }


  &:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 20px;
    right: -5px;
    top: 14px;
    background: silver;
    border-radius: 3px;
    transform: rotate(-45deg);
    transition: all 200ms ease;
  }

}

.search-box-header {
  color: rgb(0, 0, 0);
}

.operator-name {
  text-align: left;
  border: none;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 15px;
  color: inherit;
  background: transparent;
  outline-width: 0px;
  margin: -2px 2px 2px 30px;
  padding: 4px;
}

.friend-item {
  background: rgb(211, 210, 210);
  width: 600px;
  padding-left: 4px;
}
