.data-choose{
    width: 150px;
    height: 60px;
    
}

.list-horizontal {
    padding: 0;
    align-content: center;
    text-align: center;
    display: block;
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto;
    }
  }
  .custombutton:hover {
    background-color: #666;
    color: white;
  }
  .active {
    background-color: rgb(24, 134, 20);
    color: white;
    border: none;
    padding: 10px 10px;
    padding-top: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    height: 150px;
    width: 200px;
  }
  .custombutton {
    border: none;
    color: white;
    padding: 10px 10px;
    padding-top: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    height: 150px;
    width: 200px;
   
  }
  i{
      font-size: 50px;
  }